[submodule "fxgui/icons/libraries/material-icons"]
path = fxgui/icons/libraries/material-icons
url = https://github.com/material-icons/material-icons.git
[submodule "fxgui/icons/material"]
	path = fxgui/icons/material
	url = https://github.com/healkeiser/material_icons
[submodule "fxgui/icons/fontawesome"]
	path = fxgui/icons/fontawesome
	url = https://github.com/healkeiser/font_awesome
