# Base for MkDocs.

# Author: Valentin Beaumont
# Mail: valentin.onze@gmail.com

site_name: fxgui
site_author: Valentin Beaumont
copyright: Valentin Beaumont | Licensed under the MIT License
repo_url: https://github.com/healkeiser/fxgui
repo_name: healkeiser/fxgui
edit_uri: edit/main/docs/

###### Navigation ##############################################################

nav:
  - Home: index.md
  - Installation: installation.md
  - How-to:
      - Overview: how-to/index.md
      - Styling: how-to/styling.md
      - Theming: how-to/theming.md
      - Widgets: how-to/widgets.md
      - Icons: how-to/icons.md
  - Technical: technical/
  - Changelog: changelog.md


###### Custom ##################################################################

extra_css:
  - stylesheets/extra.css

extra:
  # Page status badges
  status:
    new: Recently added
    deprecated: No longer supported
  # Versioning with mike
  version:
    provider: mike
    default: latest
    alias: true

###### Theme ###################################################################

theme:
  name: material
  language: en
  favicon: images/fxgui_logo_background_light.svg
  logo: images/fxgui_logo_light.svg
  icon:
    repo: material/github
  features:
    - announce.dismiss
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.path
    - navigation.instant
    - navigation.instant.prefetch
    - search.suggest
    - search.highlight
    - toc.follow
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - content.tabs.link
    - content.action.edit
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

###### Markdown extensions #####################################################

markdown_extensions:
  - toc:
      permalink: true
  #     toc_depth: 3
  - footnotes
  - admonition
  - attr_list
  - md_in_html
  - def_list
  - tables
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.b64
  - pymdownx.smartsymbols
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search
  - git-authors:
      exclude:
        - technical/**
  - gen-files:
      enabled: true
      scripts:
        - docs/.scripts/generate_technical_docs.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - git-revision-date-localized:
      enable_creation_date: true
  - git-committers:
      repository: healkeiser/fxgui
      branch: main
      token: !ENV [GH_TOKEN, ""]
  - mkdocstrings:
      enabled: !ENV [ENABLE_MKDOCSTRINGS, true]
      handlers:
        python:
          paths: [.]
          inventories:
            - https://docs.python.org/3/objects.inv
          options:
            heading_level: 2
            show_source: false
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            separate_signature: true
            parameter_headings: true
            line_length: 80
            show_signature_annotations: true
            signature_crossrefs: true
            docstring_style: google
            docstring_section_style: table
            show_if_no_docstring: false
            show_docstring_attributes: true
            annotations_path: brief
            show_submodules: false
            show_root_heading: true
            show_root_full_path: false
            find_stubs_package: true
            summary: true
            members_order: alphabetical
            group_by_category: true
            show_category_heading: true
            merge_init_into_class: true
            show_inheritance_diagram: true


