@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

.scale-in-center {
    animation: scale-in-center .5s cubic-bezier(.25, .46, .45, .94) both
}